* {
  box-sizing: border-box;
}

ul {
  width: 1440px;
  padding: 0 156px;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

li {
  list-style-type: none;
}

body {
  margin: 16px;
}

.gallery img {
  width: 300px;
  height: 200px;
}

